@charset "utf-8";

/* common.css */

/* header, footer 공통서식 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root{
  --main_font: "Nanum Gothic";
  --main_color: #333;
  --main_color2: #ff7c98;
  --base_font_size: 13px;
}

body{
  font-family: var(--main_font), sans-serif, arial;
  font-size: var(--base_font_size);
  color: var(--main_color);
}
a{text-decoration: none; color: var(--main_color);}

/* header 서식 */
header{
  width: 100%;
  background: url('../images/bg_header.gif');
  border-top: 3px solid var(--main_color2);
}

/* h_top 서식 */
.h_top > h1{
  width: 92px; height: 92px;
  margin: 0 auto; padding: 15px 0px;
}

/* h_bottom 서식 */
.h_bottom{
  width: 100%; height: 46px;   /* 내비게이션 높이는 보통 40px~60px 사이 */
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #333;
  overflow: hidden;
  position: relative;
  /* transform: translateY(-1px); */
  /* transition: 0.5s;    js일 경우 */
}
.h_bottom > nav{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.lnb, .gnb{
  display: flex;
  justify-content: space-around;
}
.gnb::after{
  content: "";
  /* display: block; */
  opacity: 0;
  width: 100%; height: 1px;
  background: #fff;
  position: absolute; top: 46px; left: 0px;
  transition: 0.3s;
}
.gnb:hover::after{
  content: "";
  /* display: block; */
  opacity: 1;
  width: 100%; height: 1px;
  background: #483834;
  position: absolute; top: 46px; left: 0px;
}
.lnb{width: 200px;}
.lnb > li{
  padding: 0px 18px;
  text-align: center;
  line-height: 46px;
}
.lnb > li > a{
  font-size: var(--base_font_size);
  font-weight: bold;
}
.lnb li:first-child a{color: var(--main_color2);}
.lnb li:last-child a{color: #483834;}
.gnb{width: 1000px;}

.gnb > li:first-child ul >li{padding-top: 10px;}
.gnb > li{
  position: relative;
  padding: 0px 22px;
  text-align: center;
  line-height: 46px;
}
.gnb > li > a{
  color: #3c0a0a;
  font-size: var(--base_font_size);
  font-weight: bold;
}
nav a{text-transform: uppercase;}
/* 서브메뉴 서식 */
.sub{position: absolute; width: 100%; left: 0px;}
.sub a{font-size: var(--base_font_size);}
.sub a:hover{color: var(--main_color2);}
.gnb > li:nth-child(2) .sub,
  .gnb > li:nth-child(4) .sub{
    width: 100px; left: -10px;
}

